<footer>
  <div class="copy">
    <p><b>호남 대학간 침해대응/분석 대회 2022</b></p>
    <p></p>
    <p>주최 |
      <a href="https://www.kepco.co.kr/" target="_blank">정보보호학회</a> | 
      <!-- <a href="https://kiisc.or.kr/" target="_blank">한국전력공사</a> | -->
      <a href="https://nis.go.kr/" target="_blank">국가정보원 지부</a>
    </p>
    <p>운영 |
      <a href="https://alpinelab.io/" target="_blank">알파인랩</a> | 
      <a href="https://src-jnu.ac.kr/" target="_blank">전남대학교 SRC Lab.</a> | 
      <a href="https://stolio.me/" target="_blank">전남대학교 Stolio</a>
    </p>
    <!-- <p class="author">Designed by &copy; 2022 <a href="https://github.com/ShapeLayer" target="_blank">Park, Jonghyeon</a></p> -->
  </div>
</footer>
