<header>
  <div class="logo">
  <a href="{{ "/" | relative_url }}"><img src="/assets/img/logo.png" style=" max-width:70%; width:720px; display: block; margin: 0px auto;"></a>

  </div>
  <nav>
    <a class="header-nav__link {% if page.navselect == "home" %}now{% endif %}" href="{{ "/" | relative_url }}">홈</a>
    <a class="header-nav__link {% if page.navselect == "operation" %}now{% endif %}" href="{{ "/operation" | relative_url }}"> 대회안내 </a>
    <a class="header-nav__link {% if page.navselect == "registration" %}now{% endif %}" href="{{ "/registration" | relative_url }}"> 참가팀 및 순위 </a>
    <a class="header-nav__link {% if page.navselect == "updates" %}now{% endif %}" href="{{ "/updates" | relative_url }}"> 진행상황 </a>
    <!--<a class="header-nav__link {% if page.navselect == "updates" %}now{% endif %}" href="{{ "/updates" | relative_url }}">새 소식</a>-->
  </nav>
</header>